    body {
        margin-top: 2em;
        font-family: 'Nunito', sans-serif;
        background: #5C258D;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #4389A2, #5C258D);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #4389A2, #5C258D);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    /* left */
    
    img {
        background-color: #000;
        margin-bottom: 1em;
        border-radius: 6px;
        max-width: 100%;
        object-fit: cover;
    }
    
    h3,
    h1 {
        font-weight: bold;
        color: #fff;
    }
    
    .border-right {
        border-right: 1px solid;
        display: block;
    }
    
    .changePhoto {
        margin-bottom: 1em;
    }
    
    .card {
        margin-top: 1em;
        box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.2);
        border-radius: 6px;
    }
    
    .no-margin-bottom {
        margin-bottom: 0!important;
    }
    /* right */
    /* input */
    
    .input-group {
        /* box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.2); */
        border-radius: 6px;
        border-bottom-right-radius: 0;
    }
    
    .input-group-prepend {
        background-color: #651FFF;
        border-top-left-radius: 6px;
    }
    
    #addTaskInput {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 0;
    }
    
    #add {
        color: #fff;
    }
    /* tasks */
    
    .list-group-item {
        color: #000;
        padding: .75rem 0rem;
        background-color: #fff;
    }
    
    .list-group {
        /* box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.2); */
        border-radius: 6px;
        border-top-right-radius: 0;
    }
    
    .list-group-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    .list-group-item:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    
    .unchecked {
        color: rgba(0, 0, 0, 0.2)
    }
    /* buttons */
    
    .btn-normal {
        color: #fff;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        position: relative;
        display: inline-block;
    }
    
    .btn:active {
        transform: translate(0px, 5px);
        -webkit-transform: translate(0px, 5px);
        box-shadow: 0px 1px 0px 0px;
    }
    
    .btn:focus {
        box-shadow: 0px 0px 0px 0px;
    }
    
    .green {
        background-color: #558B2F;
        box-shadow: 0px 5px 0px 0px #33691E;
    }
    
    .green:hover {
        background-color: #689F38;
    }
    
    .purple {
        background-color: #651FFF;
        box-shadow: 0px 5px 0px 0px #6200EA;
    }
    
    .purple:hover {
        background-color: #7C4DFF;
    }
    
    .red {
        background-color: #e74c3c;
        box-shadow: 0px 5px 0px 0px #CE3323;
    }
    
    .red:hover {
        background-color: #FF6656;
    }
    
    .orange {
        background-color: #e67e22;
        box-shadow: 0px 5px 0px 0px #CD6509;
    }
    
    .orange:hover {
        background-color: #FF983C;
    }
    
    .yellow {
        background-color: #f1c40f;
        box-shadow: 0px 5px 0px 0px #D8AB00;
    }
    
    .yellow:hover {
        background-color: #FFDE29;
    }
    
    .btn-delete:hover {
        color: #e74c3c;
    }
    
    .inside-card-button {
        font-size: 14px;
        padding: 8px 16px;
    }